.col {
    width: 50%;
}

:root {
    --primary-color: #00B8E3;
}

.map iframe{
    width: 100%;
}

/* Address */
.address {
    background-color: #EFEFF0;
}

.address .contact-inner{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 60px 0;
    font-family: 'Quicksand';
    font-size: 16px;
    margin: 0;
}

.address .contact-inner-right {
    background: none !important;
}

.address .test-addr {
    background-color: #fff;
    height: 454px;
    padding: 30px;
}

.address span {
    padding-left: 15px;
}

.address .icon {
    width: 16px;
    fill: var(--primary-color);
}

.address .title {
    display: flex;
}

.address .title,
.address .desc {
    margin-bottom: 20px;
    margin-left: -15px;
}

.address .title span{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
    font-size: 22px;
}

.address .title .icon {
    width: 20px;
}

.address .desc-item {
    display: flex;
    padding: 7.5px 0;
}

.address .desc-item span{
    color: #999;
    display: flex;
}


/* Form */
.form-inner .form-content form {
    display: flex;
    flex-wrap: wrap;
}

.form-inner .form-content form .input-group,
.form-inner .form-content form .input-messenger {
    padding: 10px 0; 
    width: 100%;
}

.form-inner .form-content form input {
    border-radius: 10px;
}

.form-inner .form-content form .input-group .wpcf7-form-control-wrap {
    width: 100%;
}

.form-inner .form-content form p {
    margin: 0 auto;
}

.form-contact {
    margin: 60px 0;
}

.form-contact .form-inner{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.form-inner .form-img {
    display: flex;
}

.background-img{
    background-position: center center;
    background-size: cover;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-img img{
    width: 100%;
    display: none;
}

.form-inner .form-img .img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
}

.form-inner .form-content {
    background-color: #fff;
    text-align: center;
    font-family: 'Quicksand';
}

.form-content .mb-20 {
    margin-bottom: 20px;
}

.form-content .title {
    font-size: 36px;
    color: var(--primary-color);
    font-weight: bold;
}

.form-content .desc {
    opacity: 0.6;
}

.form-item {
    margin-bottom: 14px;
}

.form-item input{
    border: 1px solid transparent;
    border-bottom-color: var(--primary-color) !important;
    border-radius: 5px !important;
    padding: 6px 12px !important;
    min-height: 40px !important;
}

.form-item textarea{
    border: 1px solid transparent;
    border-bottom-color: var(--primary-color) !important;
    border-radius: 5px !important;
    padding: 6px 12px !important;
    min-height: 40px !important;
}

.form-item:focus-within {
    border-color: #ddd;
    border-bottom-color: var(--primary-color);
}

.item {
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
}

 textarea::placeholder,
.item::placeholder {
    font-family: 'Quicksand';
    color: var(--primary-color);
    font-size: 16px;
}

.box-item {
    width: 100%;
    min-height: 40px;
    display: flex;
    border-radius: 5px;
    background-color: var(--primary-color);
}

.box-item button {
    padding: 0;
    font-family: 'Quicksand-bold';
    color: #fff;
    font-size: 16px;
    background-color: transparent;
}

.box-item button span {
    letter-spacing: 0.1em;
}

@media(max-width:768px){
    .address .contact-inner{
        display: block;
    }
    .col {
        width: 100%;
    }

    .address .contact,
    .address .map {
        margin: -15px 0;
        width: 100%;
    }

    .background-img{
        width: 100%;
        padding: 0;
    }
    .form-inner .form-content{
        width: 100%;
    }
}