.maps .maps-inner {
    display: flex;
    justify-content: center;
}

.store-details .label {
    letter-spacing: 1px !important;
}

.entry-content {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    font-size: 16px !important;
}

.entry-content p {
    font-style: italic;
    opacity: 0.8;
    margin-bottom: 24px;
    width: 100% !important;
    max-width: 1000px !important;
}

.care-related {
    padding: 30px 0;
}

.h2-title {
    font-family: 'Quicksand-Bold';
    font-size: 32px;
    text-transform: capitalize;
    color: #00b8e3;
    margin-bottom: 35px !important;
}

.care-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}